<div class="modal-header">
  <h4 class="modal-title" jhiTranslate="innoveduApp.project.qr">QR Code for this project</h4>

  <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
</div>
<div class="w-64">
  <div>
    <qrcode
      #parent
      (qrCodeURL)="onChangeURL($event)"
      [qrdata]="getURLForProject(project!)"
      [elementType]="elementType"
      [width]="300"
      [errorCorrectionLevel]="'M'"
    ></qrcode>
  </div>
  <div>
    <button mat-raised-button color="primary" class="qr-button" (click)="saveAsImage(parent)">
      <fa-icon icon="download"></fa-icon>
      Download QR Code Image
    </button>
  </div>
</div>
