<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="project">
      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <h1 class="text-theme">{{ project.title }}</h1>
      <p>{{ project.description }}</p>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="innoveduApp.project.stars">Stars</span></dt>
        <dd>
          <span>{{ project.stars }}</span>
        </dd>
        <dt><span jhiTranslate="innoveduApp.project.date">Date</span></dt>
        <dd>
          <span>{{ project.date | formatMediumDatetime }}</span>
        </dd>
        <dt *ngIf="account !== null"><span jhiTranslate="innoveduApp.project.user">User</span></dt>
        <dd *ngIf="account !== null">
          <span>{{ project.user?.firstName }} {{ project.user?.lastName }}</span>
        </dd>
        <dt><span jhiTranslate="innoveduApp.project.topic">Topic</span></dt>
        <dd>
          <div *ngIf="project.topic">
            <a [routerLink]="['/topic', project.topic?.id, 'view']">{{ project.topic?.title }}</a>
          </div>
        </dd>
      </dl>

      <button mat-stroked-button color="primary" type="submit" (click)="previousState()" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button mat-raised-button color="primary" type="button" [routerLink]="['/project', project.id, 'edit']" class="">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
