<form *ngIf="file" name="deleteForm" (ngSubmit)="confirmDelete(file.id!)">
  <div class="modal-header">
    <h4 class="modal-title" data-cy="fileDeleteDialogHeading" jhiTranslate="entity.delete.title">Confirm delete operation</h4>

    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
  </div>

  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>

    <p id="jhi-delete-file-heading" jhiTranslate="innoveduApp.file.delete.question" [translateValues]="{ id: file.id }">
      Are you sure you want to delete this File?
    </p>
  </div>

  <div class="modal-footer">
    <button mat-button type="button" data-dismiss="modal" (click)="cancel()">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
    </button>

    <button mat-flat-button color="warn" id="jhi-confirm-delete-file" data-cy="entityConfirmDeleteButton" type="submit">
      <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Delete</span>
    </button>
  </div>
</form>
