<div>
  <div class="w-100 text-center p-8 py-12">
    <h1 class="font-bold text-4xl text-center" jhiTranslate="innoveduApp.project.home.title">Projects</h1>
    <p class="text-3xl font-light max-w-4xl mr-auto ml-auto">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
      erat, sed diam voluptua.
    </p>

    <mat-form-field class="w-96 max-w-full" [hidden]="initialSize === 0">
      <mat-placeholder jhiTranslate="innoveduApp.project.home.search">Search in all projects</mat-placeholder>
      <input matInput type="search" autocomplete="off" [(ngModel)]="value" (keyup)="debounceSearch.next($any($event.target).value)" />
      <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value = ''; reset()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <h2 id="page-heading" class="mb-8" data-cy="ProjectHeading">
    <div class="d-flex justify-content-end space-x-1">
      <button mat-raised-button (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="innoveduApp.project.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        mat-raised-button
        color="primary"
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-project"
        [routerLink]="['/project/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="innoveduApp.project.home.createLabel"> Create a new Project </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="projects?.length === 0">
    <span jhiTranslate="innoveduApp.project.home.notFound">No projects found</span>
  </div>

  <div
    id="entities"
    class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-y-4 gap-x-10 mr-auto ml-auto"
    data-cy="entityTable"
    infinite-scroll
    (scrolled)="loadPage(page + 1)"
    [infiniteScrollDisabled]="page >= links['last']"
    [infiniteScrollDistance]="0"
    *ngIf="projects && projects.length > 0"
  >
    <a *ngFor="let project of projects; trackBy: trackId" [routerLink]="['/project', project.id, 'view']" data-cy="entityDetailsButton">
      <mat-card class="project-card hover:shadow-xl">
        <mat-card-title>{{ project.title }}</mat-card-title>
        <mat-card-subtitle>
          <fa-icon class="text-yellow-400" icon="star" [fixedWidth]="true"></fa-icon>
          {{ project.stars }}
        </mat-card-subtitle>
        <mat-card-content class="two-lines">
          {{ project.description }}
        </mat-card-content>
      </mat-card>
    </a>
  </div>
</div>
