<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-file-heading" data-cy="FileCreateUpdateHeading" jhiTranslate="innoveduApp.file.home.createOrEditLabel">
        Create or edit a File
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="innoveduApp.file.data" for="field_data">Data</label>
          <div>
            <div *ngIf="editForm.get('data')!.value" class="form-text text-danger clearfix">
              <a
                class="pull-start"
                (click)="openFile(editForm.get('data')!.value, editForm.get('dataContentType')!.value)"
                jhiTranslate="entity.action.open"
                >open</a
              ><br />
              <span class="pull-start">{{ editForm.get('dataContentType')!.value }}, {{ byteSize(editForm.get('data')!.value) }}</span>
              <button
                type="button"
                (click)="editForm.patchValue({ data: null }); editForm.patchValue({ dataContentType: null })"
                class="btn btn-secondary btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input
              type="file"
              id="file_data"
              data-cy="data"
              (change)="setFileData($event, 'data', false)"
              jhiTranslate="entity.action.addblob"
            />
          </div>
          <input type="hidden" class="form-control" name="data" id="field_data" data-cy="data" formControlName="data" />
          <input type="hidden" class="form-control" name="dataContentType" id="field_dataContentType" formControlName="dataContentType" />
          <div *ngIf="editForm.get('data')!.invalid && (editForm.get('data')!.dirty || editForm.get('data')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('data')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <mat-form-field appearance="outline" class="w-full pb-3">
          <mat-label jhiTranslate="innoveduApp.file.name">Name</mat-label>
          <input type="text" matInput formControlName="name" data-cy="name" />
          <mat-error *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
            This field is required.
          </mat-error>
          <mat-error
            *ngIf="editForm.get('name')?.errors?.minlength"
            jhiTranslate="entity.validation.minlength"
            [translateValues]="{ min: 3 }"
          >
            This field is required to be at least 3 characters.
          </mat-error>
        </mat-form-field>

        <mat-form-field
          appearance="outline"
          id="field_project"
          data-cy="project"
          name="project"
          formControlName="topic"
          class="w-full pb-3"
        >
          <mat-label jhiTranslate="innoveduApp.file.project">Project</mat-label>
          <mat-select [formControl]="projectControl">
            <mat-option jhiTranslate="innoveduApp.project.none">None</mat-option>
            <mat-option *ngFor="let projectOption of projectsSharedCollection; trackBy: trackProjectById" [value]="projectOption.id">
              {{ projectOption.title }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <button mat-button color="accent" type="button" id="cancel-save" data-cy="entityCreateCancelButton" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          mat-raised-button
          color="primary"
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
