<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="project">
      <h2 data-cy="projectDetailsHeading"><span jhiTranslate="innoveduApp.project.detail.title">Project</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="innoveduApp.project.title">Title</span></dt>
        <dd>
          <span>{{ project.title }}</span>
        </dd>
        <dt><span jhiTranslate="innoveduApp.project.description">Description</span></dt>
        <dd>
          <span>{{ project.description }}</span>
        </dd>
        <dt><span jhiTranslate="innoveduApp.project.stars">Stars</span></dt>
        <dd>
          <span>{{ project.stars?.length }}</span>
        </dd>
        <dt><span jhiTranslate="innoveduApp.project.approved">Approved</span></dt>
        <dd>
          <span>{{ project.approved }}</span>
        </dd>
        <dt><span jhiTranslate="innoveduApp.project.date">Date</span></dt>
        <dd>
          <span>{{ project.date | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="innoveduApp.project.user">User</span></dt>
        <dd>
          <span>{{ project.user?.firstName }} {{ project.user?.lastName }}</span>
        </dd>
        <dt><span jhiTranslate="innoveduApp.project.topic">Topic</span></dt>
        <dd>
          <div *ngIf="project.topic">
            <a [routerLink]="['/topic', project.topic?.id, 'view']">{{ project.topic?.title }}</a>
          </div>
        </dd>
        <dt *ngIf="files && files?.length != 0">
          <fa-icon class="pr-1" icon="paperclip"></fa-icon>
          <span jhiTranslate="innoveduApp.project.files">Files</span>
        </dt>
        <dd *ngIf="files && files?.length != 0">
          <span class="pr-4" *ngFor="let file of files">
            <a *ngIf="file.data" (click)="openFile(file.data, file.dataContentType)">
              {{ file.name }}.{{ getExtension(file.dataContentType) }}
            </a>
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/teacher/project', project.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
