<div>
  <h2 id="page-heading" data-cy="FileHeading">
    <span jhiTranslate="innoveduApp.file.home.title">Files</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="innoveduApp.file.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-file"
        [routerLink]="['/file/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="innoveduApp.file.home.createLabel"> Create a new File </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="files?.length === 0">
    <span jhiTranslate="innoveduApp.file.home.notFound">No files found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="files && files.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="innoveduApp.file.type">Type</span></th>
          <th scope="col"><span jhiTranslate="innoveduApp.file.data">Data</span></th>
          <th scope="col"><span jhiTranslate="innoveduApp.file.name">Name</span></th>
          <th scope="col"><span jhiTranslate="innoveduApp.file.dimension">Dimension</span></th>
          <th scope="col"><span jhiTranslate="innoveduApp.file.project">Project</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let file of files; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/file', file.id, 'view']">{{ file.id }}</a>
          </td>
          <td>{{ file.type }}</td>
          <td>
            <a *ngIf="file.data" (click)="openFile(file.data, file.dataContentType)" jhiTranslate="entity.action.open">open</a>
            <span *ngIf="file.data">{{ file.dataContentType }}, {{ byteSize(file.data) }}</span>
          </td>
          <td>{{ file.name }}</td>
          <td>{{ file.dimension }}</td>
          <td>
            <div *ngIf="file.project">
              <a [routerLink]="['/project', file.project?.id, 'view']">{{ file.project?.title }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/file', file.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/file', file.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(file)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
