<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-project-heading" data-cy="ProjectCreateUpdateHeading" jhiTranslate="innoveduApp.project.home.createOrEditLabel">
        Create or edit a Project
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <mat-form-field appearance="fill" class="w-full">
          <mat-label jhiTranslate="innoveduApp.project.title">Title</mat-label>
          <input type="text" matInput formControlName="title" data-cy="title" placeholder="My cool title..." />
          <mat-error *ngIf="editForm.get('title')?.errors?.required" jhiTranslate="entity.validation.required">
            This field is required.
          </mat-error>
          <mat-error
            *ngIf="editForm.get('title')?.errors?.minlength"
            jhiTranslate="entity.validation.minlength"
            [translateValues]="{ min: 3 }"
          >
            This field is required to be at least 3 characters.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-full">
          <mat-label jhiTranslate="innoveduApp.project.description">Description</mat-label>
          <input type="text" matInput formControlName="description" data-cy="description" />
          <mat-error *ngIf="editForm.get('description')?.errors?.required" jhiTranslate="entity.validation.required">
            This field is required.
          </mat-error>
          <mat-error
            *ngIf="editForm.get('description')?.errors?.minlength"
            jhiTranslate="entity.validation.minlength"
            [translateValues]="{ min: 3 }"
          >
            This field is required to be at least 3 characters.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" id="field_topic" data-cy="topic" name="topic" formControlName="topic" class="w-full">
          <mat-label jhiTranslate="innoveduApp.project.topic">Thema</mat-label>
          <mat-select [formControl]="topicControl">
            <mat-option jhiTranslate="innoveduApp.project.none">None</mat-option>
            <mat-option *ngFor="let topicOption of topicsSharedCollection; trackBy: trackTopicById" [value]="topicOption.id">
              {{ topicOption.title }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div>
          <button mat-button color="accent" type="button" id="cancel-save" data-cy="entityCreateCancelButton" (click)="previousState()">
            <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
          </button>

          <button
            mat-raised-button
            color="primary"
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            [disabled]="editForm.invalid || isSaving"
          >
            <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
